.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.title {
  color: white;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.historyArea {
  overflow: scroll;
  margin: 5px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
  }
}