.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
  }
}

.inputBox {
  background-color: white;
  border: 2px solid orange;
  width: 40%;
  height: 100px;
  display: flex;
}

.inputBox:focus-within {
  border: 2px solid red;
}

.outputBox {
  background-color: white;
  border: 2px solid blue;
  width: 40%;
  height: 100px;
  display: flex;
}

.outputBox:focus-within {
  border: 2px solid navy;
}

textarea {
  width: 90%;
  border : none;
  outline: none;
  overflow: auto;
  resize: none;
  caret-color: transparent;
}

textarea::-webkit-scrollbar {
  width: 0px;
}


img {
  width: 20px;
  padding: 5px;
  border: 1px solid green;
  border-radius: 50%;
}