.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.title {
  color: white;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.historyArea {
  overflow: scroll;
  margin: 5px;
}

.historyArea::-webkit-scrollbar {
  width: 0;
}

.history {
  color: white;
  margin-top: 20px;
  width: 80vw;
  text-align: center;
  h2 {
    margin: 10px;
  }

  .historyToggle {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .toggleImg {
      width: 20px;
      margin: 12px 0px 8px 10px;

      &.open {
        transform: rotate(270deg);
      }

      &.closed {
        transform: rotate(90deg);
      }
    }
  }
}

.inputBox {
  background-color: white;
  border: 1.5px solid orangered;
  width: 40vw;
  height: 25vh;
  display: flex;
}

.inputBox:focus-within {
  border: 1.5px solid red;
}

.outputBox {
  background-color: white;
  border: 1.5px solid cyan;
  width: 40vw;
  height: 25vh;
  display: flex;
}

.outputBox:focus-within {
  border: 1.5px solid darkturquoise;
}

textarea {
  width: 95%;
  margin: 5px;
  border: none;
  outline: none;
  overflow: auto;
  resize: none;
  caret-color: transparent;
  font-family: inherit;
  font-size: 20px;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.micImg {
  width: 30px;
  margin: 5px;
  padding: 5px;
  border: 1px solid orangered;
  border-radius: 50%;
}

.recording {
  padding: 3px;
  border: 3px solid red;
}

.arrowImg {
  width: 30px;
  margin: 10px;
  color: red;
}

@media only screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
  }

  .inputBox {
    width: 80vw;
  }

  .outputBox {
    width: 80vw;
  }

  .arrowImg {
    transform: rotate(90deg);
  }
}